<footer>

    <ul>
        <li class="col-xs-2 col-md-2" >@Houston spaceconnections</li>
        <li class="col-xs-2 col-md-2"><a href="../about.ejs">About</a></li>
        <li class="col-xs-2 col-md-2"><a href="../contact.ejs">Contact</a></li>
    </ul>
    <div class="pos"> 
            <a href="#" ><img src="../../assets/facebook.jpg" height=30 alt="welcome"></a>
    
            <a  href="#" ><img src="../../assets/twit.jpg" height=30 alt="welcome"></a>
    </div>

    




</footer>