<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../assets/bootstrap-4.0.0/dist/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <title>SPACE OBSERVATORY MEETUP</title>
    <link rel="stylesheet" href="../../assets/index.css" type="text/css" />

</head>