<!DOCTYPE html>
<html lang="en">
<%include partials/head.ejs%>


<body>

        <% include partials/header.ejs %>
        <% include partials/nav.ejs %>
    <main >
   <div class="col-md-6">
    <h2>ABOUT THE SPACE CONNECTIONS WEBSITE</h2>
    <p >This website gives details of Space observatory meetups happening in the Houston area
        checkout the houston space center website at <a href="https://spacecenter.org/visitor-information/">this link</a>
    </p>
    <br>
   
        <p >There are also Mini Rocket propulsion Science projects under way</p>
<h3>Connections</h3>
<p>this feature allows the user to view all the connection categories and the subtopics</p>
<h3>Connection page</h3>
<p>this page allows the user to view a particular connection request and chose whether to attend or not attaend an event</p>

<h3>Start new connection</h3>
<p>page for starting a new Connection</p>

</div>
</main>

<% include partials/footer.ejs %>
</body>

</html>